@if(character | async; as character) {
  <section class="character">
    <article class="group-column">
      <div class="name">{{ character.name }},
        <span class="value">{{ character.type }}</span>
      </div>
      <div class="biography">{{ character.biography }}</div>
    </article>
    <article class="attributes">
      <div class="group-row">
        <span class="label">Life</span>
        <span class="value">{{ character.life }}</span>
      </div>
      <div class="group-row">
        <span class="label">Strength</span>
        <span class="value">{{ character.strength }}</span>
      </div>
      <div class="group-row">
        <span class="label">Agility</span>
        <span class="value">{{ character.agility }}</span>
      </div>
      <div class="group-row">
        <span class="label">Charisma</span>
        <span class="value">{{ character.charisma }}</span>
      </div>
      <div class="group-row">
        <span class="label">Intelligence</span>
        <span class="value">{{ character.intelligence }}</span>
      </div>
      <div class="group-row">
        <span class="label">Will</span>
        <span class="value">{{ character.will }}</span>
      </div>
    </article>
    <mat-divider></mat-divider>
    <div class="subtitle">{{ character.type }} Buffs</div>
    @let buffs = setBuffs(character.buffs);
    <article class="attributes">

      @for(buff of buffs; track buff.key; let last = $last) {
      <div class="group-row">
        <span class="label">{{ buff.key | characterBuff }}</span>
        <span class="value">{{ buff.value }}</span>
      </div>
        @if(!last) {
            <span class="divider"> | </span>
        }
      }
    </article>
  </section>
}
