@use '@angular/material' as mat;
@use './mixins/font.mixin' as font;
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

:root {
  --spacing-00: 0.25rem;
  --spacing-01: 0.5rem;
  --spacing-02: 0.75rem;
  --spacing-03: 1rem;
  --spacing-04: 1.25rem;
  --spacing-05: 1.5rem;
  --spacing-06: 2rem;
  --spacing-07: 2.5rem;
  --spacing-08: 3rem;
  --spacing-09: 4rem;
  --sizing-00: 0.25rem;
  --sizing-01: 0.5rem;
  --sizing-02: 0.75rem;
  --sizing-03: 1rem;
  --sizing-04: 1.25rem;
  --sizing-05: 1.5rem;
  --sizing-06: 2rem;
  --sizing-07: 2.5rem;
  --sizing-08: 3rem;
  --sizing-09: 4rem;
  --weight-normal: 400;
  --weight-bold: 700;
  --weight-bolder: 900;
}

body {
  @include font.font-style('body');
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.group-column {
  display: flex;
  flex-flow: column nowrap;
}

.group-row {
  display: flex;
  flex-flow: row nowrap;
}
